### Answer 1

In [1]:
for i in range(2000,3200):
    if i%7==0 and i%5!=0:
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

### Answer 2

In [103]:
n=int(input("Enter value::"))
val=1
for i in range(1,n+1):
    val=val*i
print(val)

Enter value::5
120

### Answer 3

In [ ]:
dict={}
n=int(input("Enter value::"))
for i in range(1,n+1):
    dict[i]=i*i
print(dict)

### Answer 4

In [ ]:
l=list(map(int, input("Enter multiple value: ").split(",")))
print(l,tuple(l))

### Answer 5

### Answer 6

In [ ]:
import math
l=list(map(int, input("Enter multiple value: ").split(",")))
for i in l:
    q=round(math.sqrt((2*50*i)/30))
    print(q,end=",")

### Answer 7

In [ ]:
row=int(input("enter row::"))
col=int(input("enter row::"))
res=[[row*col for col in range(col)] for row in range(row)]
print(res)

### Answer 8

In [ ]:
l=list(map(str,input("enter words::").split(",")))
print(sorted(l))

### Answer 9

In [ ]:
string=input("enter string")
print(string.upper())

### Answer 10

In [ ]:
l=list(map(str,input("enter words::").split(" ")))
l=set(l)
for i in l:
    print(i,end=" ")

### Answer 11

In [ ]:
def binaryToDecimal(n):
    return int(n,2)

l=list(map(int,input("enter::").split(",")))
l1=[]
for i in l:
    l1.append(str(i))
res=[]
for i in l1:
    res.append(binaryToDecimal(i))
for i in res:
    if i%5==0:
        print(i)

### Answer 12

In [ ]:
l=[]
for i in range(1000,3001):
    k=str(i)
    c=len(k)
    count=0
    for i in k:
        if int(i)%2==0:
            count+=1
    if count==c:
        l.append(k)
print(l)

### Answer 13

In [ ]:
n=input("enter::")
l=[]
digit=0
letter=0
for i in n:
    if i.isalpha():
        letter+=1
    elif i.isnumeric():
        digit+=1
print("digit::",digit)
print("letter::",letter)

### Answer 14

In [ ]:
n=input("enter::")
upper=0
lower=0
for i in n:
    if i.isupper():
        upper+=1
    elif i.islower():
        lower+=1
print("upper::",upper)
print("lower::",lower)

### Answer 15

In [ ]:
n=int(input("enter number"))
l=[]
for i in range(1,5):
    l.append(int(str(n)*i))
print(sum(l))

### Answer16

In [ ]:
l=list(map(int,input("enter::").split(",")))
for i in l:
    if i%2!=0:
        print(i*i,end=" ")

### Answer 17

In [ ]:
l=list(map(str,input("Enter D for deposit and W for withdrawl and amount").split()))
alp=[]
dig=[]
sum=0
for i in l:
    if i.isalpha():
        alp.append(i)
    else:
        dig.append(i)
for i,j in zip(alp,dig):
    if i =="D":
        sum+=int(j)
    else:
        sum-=int(j)
print(sum)

### Answer 18

In [ ]:
import re
l=list(map(str,input("Enter passwords::").split(",")))
count=0
for i in l:
    if re.search(r'[a-zA-Z0-9]',i) and len(i)>6 and len(i)<12:
        if "@" in i or "$" in i or "#" in i:
            print(i)

### Answer 19

In [ ]:
from operator import itemgetter
list=[]
while True:
    inp=input("enter name: age: score= ")
    if inp:
        list.append(tuple(inp.split(',')))
    else:
        break
print(sorted(list, key=itemgetter(0,1,2)))

### Answer 20

### Answer 21

In [19]:
l=[]
n=4
dis=[]
dir=[]
for i in range(n):
    k=input()
    l.append(k)
    k1=k.split(" ")
    dir.append(k1[0])
    dis.append(int(k1[1]))
m=max(dis[0],dis[1])
m0=min(dis[0],dis[1])
m1=max(dis[2],dis[3])
m2=min(dis[2],dis[3])
s=m+m1-m0-m2
print(s)

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
['2', 2]
['2', 2]
['3.', 1]
['3?', 1]
['New', 1]
['Python', 5]
['Python', 5]
['Python', 5]
['Python', 5]
['Python', 5]
['Read', 1]
['and', 1]
['between', 1]
['choosing', 1]
['or', 2]
['or', 2]
['to', 1]

### Answer 22

In [ ]:
n=input()
l=n.split()
l1=[]
l2=[]
for i in l:
    if i not in l1:
        l2.append([i,l.count(i)])
l2=sorted(l2)
for i in l2:
    print(i)

### Answer 23

In [20]:
import math
n=int(input())
print(math.sqrt(n))

36
6.0

### Answer 24

In [23]:
print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplementedError if active frontend doesn't support stdin.

### Answer 25

### Answer 26

In [27]:
def sum(a,b):
    return a+b
a,b=map(int,input().split())
print(sum(a,b))

2 3
5

### Answer 27

In [29]:
def convert(n):
    print(str(n))
    print(type(str(n)))
n=int(input())
convert(n)

6
6
<class 'str'>

### Answer 28

In [30]:
def sum(a,b):
    return int(a)+int(b)
a,b=map(str,input().split())
print(sum(a,b))

2 5
7

### Answer 29

In [31]:
a,b=map(str,input().split())
print(a+b)

hi hello
hihello

### Answer 30

In [32]:
def compare(a,b):
    if len(a)>len(b):
        return a
    else:
        return b
    
a,b=map(str,input().split())
if len(a)==len(b):
    print(a,"\n",b)
else:
    print(compare(a,b))

hi hi
hi
 hi

### Answer 31

In [35]:
dict={}

for i in range(1,21):
    dict[i]=i*i
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Answer 32

In [40]:
import math
def ret():
    dict={}
    for i in range(1,21):
        dict[i]=math.sqrt(i)
    print(dict)
ret()

{1: 1.0, 2: 1.4142135623730951, 3: 1.7320508075688772, 4: 2.0, 5: 2.23606797749979, 6: 2.449489742783178, 7: 2.6457513110645907, 8: 2.8284271247461903, 9: 3.0, 10: 3.1622776601683795, 11: 3.3166247903554, 12: 3.4641016151377544, 13: 3.605551275463989, 14: 3.7416573867739413, 15: 3.872983346207417, 16: 4.0, 17: 4.123105625617661, 18: 4.242640687119285, 19: 4.358898943540674, 20: 4.47213595499958}

### Answer 33

In [43]:
def ret(i):
    return i*i
l=[]
for i in range(1,21):
    l.append(ret(i))
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 34

In [42]:
def ret(i):
    return i*i
count=0
for i in range(1,21):
    if count==5:
        break
    else:
        print(ret(i))
        count+=1

1
4
9
16
25

### Answer 35

In [44]:
def ret(i):
    return i*i
count=0
for i in range(1,21):
    if count==5:
        break
    else:
        print(ret(i))
        count+=1

1
4
9
16
25

### Answer 36

In [49]:
def ret(i):
    return i*i
count=0
l=[]
for i in range(1,21):
    l.append(ret(i))
print(l[5:])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Answer 37

In [50]:
def ret(i):
    return i*i
count=0
l=[]
for i in range(1,21):
    l.append(ret(i))
l1=tuple(l)
print(l1)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

### Answer 38

In [51]:
def ret(i):
    return i*i
count=0
l=[]
for i in range(1,21):
    l.append(ret(i))
l1=tuple(l)
l=len(l1)
print(l1[:l//2])
print(l1[l//2:])

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
(121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

### Answer 39

In [53]:
l=[1,2,3,4,5,6,7,8,9,10]
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
print(tuple(l1))

(2, 4, 6, 8, 10)

### Answer 40

In [54]:
n=input()
if n=="Yes" or n=="YES" or n=="yes":
    print(n)
else:
    print("no")

yes
yes

### Answer 41

In [55]:
l= [1,2,3,4,5,6,7,8,9,10]
res=map(lambda x:x*x,l)
print(list(res))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Answer 42

In [56]:
l= [1,2,3,4,5,6,7,8,9,10]
res=map(lambda x:x*x,l)
res1=filter(lambda x: x % 2 == 0, res)
print(list(res1))

[4, 16, 36, 64, 100]

### Answer 43

In [58]:
l= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
res1=filter(lambda x: x % 2 == 0, l)
print(list(res1))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### Answer 44

In [62]:
import math
l= [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
res1=map(lambda x: math.sqrt(x), l)
print(list(res1))

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 3.605551275463989, 3.7416573867739413, 3.872983346207417, 4.0, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.47213595499958]

### Answer 45

In [67]:
class America:
    def __init__(self,nationality):
        self.nationality=nationality
    @staticmethod
    def printNationality(nationality):
        return nationality
america=America("India")
print(america.printNationality("India"))

India

### Answer 46

In [68]:
class America:
    def __init__(self,nationality):
        self.nationality=nationality
    @staticmethod
    def printNationality(nationality):
        return nationality
class NewYork(America):
    def __init__(self):
        America.__init__(self)
america=America("India")
print(america.printNationality("India"))

India

### Answer 47

In [72]:
class Circle:
    def __init__(self,radius):
        self.radius=radius
    def printarea(self,radius):
        return radius*radius
circle=Circle(20)
print(circle.printarea(20))

400

### Answer 48

In [73]:
class Rectangle:
    def __init__(self,length,breadth):
        self.length=length
        self.breadth=breadth
    def printarea(self,breadth,length):
        return length*breadth
rectangle=Rectangle(20,30)
print(rectangle.printarea(20,30))

600

### Answer 49

In [77]:
class Shape:
    def __init__(self,side):
        self.side=side
    def printarea(self,side):
        return side*side
class Square(Shape):
    def __init__(self,side):
        self.side=side
    def printarea(self,side):
        return side*side
square=Square(30)
print(square.printarea(30))

900

### Answer 50

In [99]:
a=[1,2]
try:
    print(a[2])
    raise RuntimeError
except RuntimeError:
    print("not possible")

IndexError: list index out of range

### Answer 51

In [93]:
try:
    r=5/0
    print(r)
except:
    print("not possible")

not possible

### Answer 52

### Answer 53

In [101]:
n=input()
name=""
for i in n:
    if i!="@":
        name+=i
    else:
        break
print(name)

john@google.com
john

### Answer 54

In [109]:
n=input()
name=""
x=n.split("@")
x1=x[1].split(".")
name=x1[0]   
    
    
print(name)

john@google.com
google

### Answer 55

In [130]:
n=input("enter::")
l=[]
digit=0

for i in n:
    if i.isnumeric():
        l.append(i)
print(l)

enter::2 cats and 3 dogs.
['2', '3']

### Answer 56

In [132]:
print(u'Hello, world!')

Hello, world!

### Answer 57

In [136]:
s="hey you"
s.encode("UTF-8")

b'hey you'

### Answer 58

In [137]:
s="hey you"
s.encode("UTF-8")

b'hey you'

### Answer 59

In [139]:
num = int(input("Enter a number: "))
newnum = 0

for each in range(1,num+1):
    newnum = newnum+(each/(each+1))

print(round(newnum,2))

Enter a number: 5
3.55

### Answer 60

In [1]:
def fun(n):
    if n==0:
        return 0
    else:
        return fun(n-1)+100
n=int(input())
print(fun(n))

5
500

### Answer 61

In [4]:
def Fibonacci(n):
    if n < 0:
        print("Incorrect input")

    elif n == 0:
        return 0

    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)

print(Fibonacci(7))

13

### Answer 62

In [5]:
def f(n):
    if n == 0:
        return 0
    elif n==1:
        return 1
    else:
        return f(n-1) + f(n-2)

no = int(input("Enter input: "))
for i in range(no+1):
    print(f(i),end=',')

Enter input: 7
0,1,1,2,3,5,8,13,

### Answer 63

In [6]:
no=int(input("enter a number"))
for i in range(no+1):
    if(i%2==0):
        print(i,end=',')

enter a number55
0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,

### Answer 64

In [25]:
no=int(input("enter a number"))
for i in range(no+1):
    if(i%5==0 and i%7==0):
        print(i,end=',')

enter a number55
0,35,

### Answer 65

In [ ]:
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    assert(i%2==0)

### Answer 66

In [2]:
exp=input()
print(eval(exp))

10+10
20

### Answer 67

In [6]:
l=[1,2,3,4,5,6,7,8,9]
if 2 in l:
    print("found")

found

### Answer 68

In [10]:
import random
n = float(random.randint(10,100))
print(n)

21.0

### Answer 69

In [8]:
import random
n = random.randint(5,95)
print(n)

54

### Answer 70

In [11]:
l=[2,4,6,8,10]
print(random.choice(l))

4

### Answer 71

In [12]:
l=[]
for i in range(10,151):
    if i%5==0 and i%7==0:
        l.append(i)
print(random.choice(l))

105

### Answer 72

In [19]:
from random import sample
l = [] 
for i in range(100,201):
    if i%2==0:
        l.append(i)
print(sample(l,5))

[146, 132, 198, 164, 142]

### Answer 73

In [20]:
from random import sample
l = [] 
for i in range(100,201):
    if i%2==0:
        l.append(i)
print(sample(l,5))

[122, 118, 114, 136, 196]

### Answer 74

In [21]:
from random import sample
l=[]
for i in range(1,1000):
    if i%5==0 and i%7==0:
        l.append(i)
print(sample(l,5))

[350, 140, 560, 875, 455]

### Answer 75